<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {% load static %}
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Shop Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/shop/men/">Men</a></li>
      <li class="nav-item"><a class="nav-link" href="/shop/women/">Women</a></li>
      <li class="nav-item"><a class="nav-link" href="/shop/kids/">Kids</a></li>
      {% if is_admin %}
        <li class="nav-item"><a class="nav-link" href="/admin/">商品後台管理系統</a></li>
        <li class="nav-item"><a class="nav-link" href="/django/admin/">Django admin</a></li>
      {% endif %}
    </ul>
    <div class="my-2 my-lg-0">
      {% if is_login %}
        <span class="mr-1">Hi, {{ request.user }}</span>
        <a href="/logout/" id="logout" class="btn btn-outline-success my-2 my-sm-0">登出</a>
      {% else %}
        <span class="mr-1">Hi, Guest</span>
        <a href="/login/" id="login" class="btn btn-outline-success my-2 my-sm-0">登入</a>
      {% endif %}
    </div>
  </div>
</nav>

<main class="container">
  {% block content %} {% endblock %}
  {% block shop %} {% endblock %}
  {% block admin %} {% endblock %}
  {% block details %} {% endblock %}
  {% block login %} {% endblock %}
  {% block register %} {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>