<div id="carouselExampleIndicators-{{ item.id }}" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    {% for image in  item.images %}
      {% if forloop.first %}
        <li data-target="#carouselExampleIndicators-{{ item.id }}" data-slide-to="{{ forloop.counter0 }}"
            class="active"></li>
      {% else %}
        <li data-target="#carouselExampleIndicators-{{ item.id }}" data-slide-to="{{ forloop.counter0 }}"></li>
      {% endif %}
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in  item.images %}
      {% if forloop.first %}
        <div class="carousel-item active">
          {% if is_admin %}
            <button type="button" id="adminClose-{{ image.id }}" class="admin close" style="margin-bottom:-50%;"
                    data-toggle="modal" data-target="#modalDeleteImage">
              <span>&times;</span></button>
          {% endif %}
          <a href="/shop/details/{{ item.id }}/">
            <img class="d-block w-100" src="data:image/png;base64,{{ image.image.decode }}"
                 alt="{{ item.name }}"></a>
        </div>
      {% else %}
        <div class="carousel-item">
          {% if is_admin %}
            <button type="button" id="adminClose-{{ image.id }}" class="admin close" style="margin-bottom:-50%;"
                    data-toggle="modal" data-target="#modalDeleteImage">
              <span>&times;</span></button>
          {% endif %}
          <a href="/shop/details/{{ item.id }}/"><img class="d-block w-100"
                                                      src="data:image/png;base64,{{ image.image.decode }}"
                                                      alt="{{ item.name }}"></a>
        </div>
      {% endif %}
    {% empty %}
      <div class="carousel-item active">
        {% load static %}
        <a href="/shop/details/{{ item.id }}/"><img class="d-block w-100" src="{% static 'img/not-found.png' %}"
                                                    alt="Image not found"></a>
      </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators-{{ item.id }}" role="button"
     data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators-{{ item.id }}" role="button"
     data-slide="next" style="margin-top: 10%">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
