{% extends 'base.html' %}

{% block shop %}
  <h1 class="text-center mt-2">{{ title }}</h1>
  <!-- Item display -->
  <div class="row">
    {% for item in items %}
      <div class="card col-lg-3 mt-5" style="width: 15rem;">
        {% include 'imgCarousel.html' %}

        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text text-right">售價：${{ item.price }}</p>
          <div class="row justify-content-center">
            <button id="addCart-{{ item.id }}" class="cart btn btn-secondary mx-1">加入購物車</button>
            <a href="/shop/details/{{ item.id }}/" class="btn btn-primary mx-1">商品介紹</a>
          </div>
          {% if is_admin %}
            <div class="row justify-content-end admin-area">
              <button id="btnEditItem-{{ item.id }}" class="admin edit btn btn-warning mt-1 mr-1"
                      data-toggle="modal" data-target="#modalEdit">編輯
              </button>
              <button id="btnDeleteItem-{{ item.id }}" class="admin delete btn btn-danger mt-1 ml-1"
                      data-toggle="modal" data-target="#modalDeleteItem">刪除
              </button>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="col text-center mt-3">
        <p>此分類目前沒有商品...</p>
      </div>
    {% endfor %}
  </div>

  {% if is_admin %}
    <!-- Modal -->
    <div class="modal fade" id="modalEdit" tabindex="-1" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">編輯商品資訊</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% include 'createItem.html' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary" id="confirmEdit" data-dismiss="modal">修改</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalDeleteItem" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
            <h5>確認刪除此商品？</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
            <button type="button" class="btn btn-danger" id="confirmDelItem" data-dismiss="modal">確認刪除</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalDeleteImage" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
            <h5>確認刪除此照片？</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
            <button type="button" class="btn btn-danger" id="confirmDelImage" data-dismiss="modal">確認刪除</button>
          </div>
        </div>
      </div>
    </div>
    {% load static %}
    <script src="{% static 'js/shopCrud.js' %}"></script>
    <script src="{% static 'js/getFormData.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/shop.js' %}"></script>
  <script src="{% static 'js/myUtils.js' %}"></script>
{% endblock %}